ibmpairspass.txt
data_path*/
data_path*
data_path/
data_path_white_plains/
data_path_dallas/
WhitePlains_data/
**/data_acknowledgement.txt
**/__pycache__/
**/*.DS_Store
**/*.jpg
**/annotations/*.json
**/*.xml
**/*.png
**/*.log
pixor/*.npy
*logfile